#profile-header {
  background-size: cover;
  background: url('@assets/profile-header.png');
  background-repeat: no-repeat;
}

.profile-container {
  background-size: contain;
  background: url('@assets/profile.wave.svg');
  background-position-x: right;
  background-repeat: no-repeat;
}
